<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Commerce.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Commerce_MVCConnectionString" connectionString="Server=.\SQLExpress; Database=CommerceDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Commerce.Data.Properties.Settings.Commerce_MVCConnectionString" connectionString="Server=.\SQLExpress; Database=CommerceDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="CommerceEFContainer" connectionString="metadata=res://*/DataAccess.CommerceEF.csdl|res://*/DataAccess.CommerceEF.ssdl|res://*/DataAccess.CommerceEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=CommerceDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="25" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <Commerce.Data.Properties.Settings>
      <setting name="DefaultLocale" serializeAs="String">
        <value>en-us</value>
      </setting>
    </Commerce.Data.Properties.Settings>
  </applicationSettings>
</configuration>